.normal-chart {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .4);
    border-radius: 6px;
    padding: .5rem .75rem;

    .chart-title {
        color: gray;
    }

    .chartgrid {
        stroke: rgb(220, 220, 220);
    }
}