.app.dark {
    background: var(--dark__color1);
    color: var(--light__color1);

    .chartgrid {
        stroke: rgb(39, 39, 39);
    }

    .app__navbar {
        .wrapper {
            .search {
                input {
                    color: var(--light__color1);

                    &::placeholder {
                        color: var(--light__color1);
                    }
                }
                
                .icon {
                    color: var(--light__color1);
                }
            }
        }

        .items {
            .icon {
                fill: var(--light__color1);
            }
        }
        
    }

    .table {
        background: var(--dark__color3);

        &__cell {
            color: var(--light__color2);
        }
    }

    .data-table {
        .data-table-title {
            button {
                border-color: violet;

                & > * {
                    color: violet;
                }
            }
        }

        .data-table-grid {
            background: var(--dark__color3);
            color: var(--light__color2);
            border: none;
        }
        
        .action {
            &.view {
                border-color: rgba(128, 128, 128, .2);
                color: gray;

                &:hover {
                    background: rgba(128, 128, 128, .2);
                }
            }

            &.delete {
                border-color: orangered;
            }
        }
    }

    .app__new {
        .new {
            .right {
                .formInput {
                    input {
                        background: transparent;
                    }
                }
            }
        }
    }

    .app__sidebar {
        background: var(--dark__color1);

        & > * {
            color: var(--light__color2);
        }

        .menu-list {
            span {
                color: var(--light__color2);
            }

            .link {
                color: var(--light__color3);

                .icon {
                    color: var(--light__color2);
                }
            }
        }
    }
        
    --shadow: 2px 4px 10px 1px rgba(71, 68, 68, 0.4);
}