.app {
    &__home {
        display: flex;

        .home-container {
            flex: 6;

            .widgets {
                padding: 1rem 2rem;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1.5rem;

                @media screen and (width <= 1200px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media screen and (width <= 1000px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media screen and (width <= 750px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .charts {
                padding: 0 2rem;
                display: flex;
                gap: 1.5rem;
            }

            .list-container {
                margin: 1rem 2rem;
                padding: .5rem .75rem;
                border-radius: 6px;
                box-shadow: var(--shadow);

                .list-title {
                    color: gray;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}