.data-table {
    .data-table-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        padding: .25rem .25rem .25rem .75rem;
        box-shadow: var(--shadow);
        border-radius: 6px;

        h2 {
            color: gray;
        }

        button {
            background: transparent;
            padding: .5rem 1rem;
            border-radius: 4px;
            outline: none;
            border: 1px solid rgba(238, 130, 238, .2);
            color: violet;
            font-size: calc(var(--medium__font1) + 3px);
            cursor: pointer;
            transition: .2s;

            &:hover {
                background: rgba(238, 130, 238, .2);
            }
        }
    }

    .data-table-user-profile {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: .5rem;
    }

    .user-status {
        padding: .25rem .5rem;
        border-radius: 4px;

        &.active {
            color: rgb(0, 128, 0);
            background: rgba(0, 255, 0, .1);
        }

        &.passive {
            color: rgb(255, 0, 0);
            background: rgba(255, 0, 0, .1);
        }

        &.pending {
            color: var(--main__color2);
            background: rgba(235, 116, 73, .08);
        }
    }

    .cell-action {
        display: flex;
        gap: 1rem;

        .action {
            cursor: pointer;
            padding: .25rem .5rem;
            border-radius: 4px;
            transition: .2s;

            &.view {
                color: darkblue;
                border: 1px solid rgba(0, 0, 139, .2);

                &:hover {
                    background: rgba(0, 0, 139, .2);
                }
            }

            &.delete {
                color: orangered;
                border: 1px solid rgba(255, 68, 0, .2);

                &:hover {
                    background: rgba(255, 68, 0, .2);
                }
            }
        }
    }

    .data-table-grid {
        box-shadow: var(--shadow);
        transition: background .2s;
    }
}